<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Audio messenger</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">

</head>

<body>
    <div id="vueroot">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Audio messenger взят как основа для системы распознавания спикеров</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <div class="col-lg-3">

                    <h3 class="my-4">Record an audio</h3>
                    <button class="btn btn-primary" @click="record" :disabled="isRecording">Start record</button>
                    <br>
                    <br>
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-9">
                    <br>
                    <br>
                    <div class="row">
                        <div class="col">
                            <h4>Play recordings</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list-group" v-if="recordings">
                                <li class="list-group-item d-flex justify-content-between align-items-center" v-for="(item,index) in recordings">
                                    {{item.id}}
                                    <a class="btn badge badge-primary badge-pill" @click="play(item)">Play</a>
                                    <a class="btn badge badge-danger badge-pill" @click="deleteRecording(item,index)">Delete</a>
                                    <a class="btn badge badge-danger badge-pill" @click="send_to_server(item, index)">Выделить голоса</a>
                                    <a class="btn badge  badge-pill"><canvas ref="canv" style="border-radius: 5px" width="200" height="30">canvas</canvas></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            В последний момент очень захотелось сделать демку распознавания спикеров с помощью модели
            <br><br>
            <!-- /.row -->
            Как пользоваться
            <br><br>
            После нажатия Start record в течение 13сек ваш голос записывается микрофоном и сохраняется _локально_ в вашем браузере. Вы можете прослушать запись, нажав Play, удалить и главное - Send to server (при этом сервер должен быть поднят на localhost:5022, в readme инструкция как включить). Модель попытается отнести голос к одному из 40 известных ей. Результат классификации будет отражён цветов на полоске рядом с кнопкой. Если вы помычите на запись, то увидите, что модель распознаёт вас как одного спикера - логично. Если будете говорить по очереди - будет распознавать чередующиеся полоски. Модель уязвима к шуму, так как тренировалась не долго, но сейчас способна выделять спикеров
            <br><br>

            Чужой фронтенд с записью голоса взят потому что написать пересылку голосового на сервер + миллион конвертаций аудио + инфер модели + показ результата на фронте за 3 часа я могу, а красивый интерфейс на Vue - нет)0)


        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; StaffLeverage 2018</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/vue/vue.min.js"></script>
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>

</html>
